.dashboard-sidebar-items {
  svg.lucide {
    color: var(--color-muted-foreground);
  }
  &.dashboard-sidebar-items-active {
    background: var(--color-accent);
    svg.lucide {
      color: var(--color-foreground);
    }
  }
}

.dashboard-sidebar-items:hover {
  background: var(--color-accent);
  svg.lucide {
    color: var(--color-foreground);
  }
}

.dashboard-sidebar-highlight::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--color-border);
}

.dashboard-header-highlight::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--color-border);
}
